<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69244349834-0518rkshtsjsdbmmbbsgg0h487n4j0j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69244349834-0518rkshtsjsdbmmbbsgg0h487n4j0j1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQb8WeUe_vlbXumXynnuHDQhMuUom4GJM</string>
	<key>GCM_SENDER_ID</key>
	<string>69244349834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hvu</string>
	<key>PROJECT_ID</key>
	<string>lenrx-e760a</string>
	<key>STORAGE_BUCKET</key>
	<string>lenrx-e760a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69244349834:ios:6890a3fcca42d9bbe16c73</string>
	<key>DATABASE_URL</key>
	<string>https://lenrx-e760a-default-rtdb.firebaseio.com</string>
</dict>
</plist>